{% extends 'base.html' %}

{% block content %}

<div class='jumbotron' align="center">
	<img src='static/img/coffee1.jpg' alt='NULL IMAGE' style='width:1940px;height:650px;' class='img-fluid'/>
	<form method='POST'>
	<h2 align="center"> ABOUT KICKSTARTER- SUCESS </h2>
	<h2 align="center">Over time, we have found that certain characteristics make one</h2>
	<h2 align="center">kick starter, more likely to succeed than the other.</h2>
	<h2 align="center">In this project, we have decided to utilize Machine Learning to </h2>
	<h2 align="center">take a deep dive into the Kick starter world and see if we can predict</h2>
	<h2 align="center">to a decent degree of accuracy, the chances of a kikstarter succeeding</h2>
	<h2 align="center">or failing</h2>
	<br>
	<br>

	<h1>DESIGN TEAM</h1>
	<h3>Alexander Krieger - Machine Learning Model Design and Implementation</h3>
	<h3>Laurence Obi - Data Wrangling and Web App Design</h3>
	<li align="left"></li>
	<li align="left"></li>
	
	</form>
</div>


{% endblock %}